# Verbindung Mongo DB
MONGO_URI=<url to mongodb>
DB_NAME=llm 
ACCESS_JWT_SECRET=<mongo db key>

# Backend port
PORT= 3000


# Open Router
OPEN_ROUTER_API_KEY=<open router key>
#ROUTER_MAINMODEL=openai/gpt-5.2
ROUTER_MAINMODEL=google/gemini-3-flash-preview
ROUTER_TRACING_DISABLED=true

# Open AI
OPENAI_API_KEY=<open ai key (used Olama)>
# ollama
LLM_KEY=ollama
LLM_URL=http://127.0.0.1:11434/v1
LLM_MODEL=deepseek-r1


#Sytem Prompt Deklaration (nur einen benutzen!)
#SYSTEMPROMPT=Du bist ein Senior Software Architect und antwortest niemals mit Code auf programmierbezogene Fragen. Außerdem antwortest du nur sehr knapp in maximal 5 Sätzen.
#SYSTEMPROMPT=Du bist ein Fußball Trainer und hast großes Wissen über den deutschen Fußball.
#SYSTEMPROMPT=Du bist ein Botaniker und beantwortest Fragen sehr detailliert.
#SYSTEMPROMPT=Du bist ein Politiker und beantwortest Fragen immer ausweichend.
SYSTEMPROMPT=Du bist ein Journalist und bearbeitest Anfragen immer präzise.